__pycache__/
**/__pycache__/

logs/*
!logs/.gitkeep

notebooks/*
!notebooks/*.ipynb

other/*
!other/*.sh

!/data/raw/.gitkeep
!/data/extracted/.gitkeep

**/*.json
**/*.csv
**/*.parquet

dbt/env/*
dbt/log/*